torch==2.0.0+cpu

torchvision==0.15.0+cpu

torchaudio==2.0.0+cpu

tensorflow==2.10

keras

numpy

pandas

matplotlib

scikit-learn

tqdm

seaborn

jupyterlab

adversarial-robustness-toolbox

git+https://github.com/cleverhans-lab/cleverhans.git

foolbox

textattack

flask

